:root{
    --index: calc(1vw + 1vh);
}
@font-face {
    font-family: raleway_c;
    src: url(/src/asset/fonts/raleway-v22-cyrillic-300.woff2);
    font-weight: 300;
}
@font-face {
    font-family: raleway_c;
    src: url(/src/asset/fonts/raleway-v22-cyrillic-100.woff2);
    font-weight: 100;
}
body{
    box-sizing: border-box;
    font-family: raleway_c, sans-serif;
    background-color: black;
    color: white;
    font-size: calc( var(--index) * 1 );
    font-weight: 300;
    line-height: 1.2;
}


.collection__container{
    text-align: center;
    margin-left: calc(var(--index) * 7);
}
.collection__header{
    padding-top: calc(var(--index) * .6);
    font-size: calc(var(--index) * 3);
}
.collection__subtext{
    margin-bottom: calc(var(--index) * 2);
    font-size: var(--index) * 1;
    text-align: center;
}
.collection__items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.collection__item{
    margin: calc( var(--index) * 1 );
}
.collection__item h3{
    font-size: calc(var(--index) * 1.5);
}
.collection__item ul{
    width: calc(var(--index) * 10);
    margin: 0 auto;
    font-size: calc(var(--index) * .8);
    color: rgb(183,183,183);
}
.collection__img{
    width: 17vw;
    /* padding: calc( var(--index) * ); */
    cursor: pointer;
    transition: all .3s ease;
}

.collection__img:hover{
    transform: scale(105%);
}




.collection__img_container_change{
    content: 'X';
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(31, 48, 59, 0.8);
    overflow: hidden;
    transition: all .5s ease;
}
.collection__img_open{
    height: calc(100vh - calc(var(--index) * 2.4));
    width: auto;
    margin: calc(var(--index) * 1.2);
    transition: all .5s ease;
}
.body__hidden{
    overflow: hidden;
}
.collection__pagination{
    margin: 0 auto calc(var(--index) * 1) auto ;
    font-family: raleway_c;
}
/* Изменение стиля полосы прокрутки в Chrome и Safari */
::-webkit-scrollbar {
    width: 8px;
}
  
::-webkit-scrollbar-thumb {
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
}
  
::-webkit-scrollbar-thumb:hover {
    background-color: rgb(183, 183, 183);
}  