:root{
    --index: calc(1vw + 1vh);
}
@font-face {
    font-family: raleway_c;
    src: url(/src/asset/fonts/raleway-v22-cyrillic-300.woff2);
    font-weight: 300;
}
*{
    box-sizing: border-box;
    font-family: raleway_c;
}
.login__logo_link{
    position: fixed;
    top: calc(var(--index) * 2);
    right: calc(var(--index) * 3);
    font-family: raleway_c;
    font-size: calc(var(--index) * .7);
    text-decoration: none;
    cursor: pointer;
    z-index: 1000;
}
.login__logo_link:hover .login__logo{
    transform: scale(110%);
}
.login__logo_link span{
    color: rgb(183, 183, 183);
    transition: color .3s ease;
}
.login__logo_link:hover span{
    color: rgb(255, 255, 255);
}
.login__logo{
    width: calc(var(--index) * 1.6);
    height: auto;
    transition: transform .3s ease;
}
.cart__logo{
    width: calc(var(--index) * 1.5);
    height: auto;
    position: fixed;
    top: calc(var(--index) * 2);
    right: calc(var(--index) * 1);
    cursor: pointer;
    transition: transform .3s ease;
    z-index: 1000;
}
.cart__logo:hover{
    transform: scale(110%);
}
.cart__container{
    display: block;
    position: fixed;
    top: 0;
    right: -100vw;
    width: 100vw;
    height: 100vh;
    font-family: raleway_c;
    background-color: rgba(31, 48, 59, 0.8);
    z-index: 10000;
    transition: right .5s ease;
}
.cart{
    position: fixed;
    right: -100vw;
    height: 100vh;
    width: calc(var(--index) * 15);
    padding: 0 20px;
    /* overflow: scroll; */
    text-align: center;
    background-color: rgb(0, 0, 0);
    transition: right 1s ease;
}
.cart__header{
    font-size: calc(var(--index) * 4);
    border-bottom: .1px solid rgb(255, 255, 255);
    padding-bottom: calc(var(--index) * .5);
}
.cart__table{
    width: 100%;
}
.cart__table tr{
    width: 100%;
    font-size: calc(var(--index) * .7);
    border-bottom: .1px solid rgb(255, 255, 255);
}
.cart__table li, td{
    font-size: calc(var(--index) * .6);
    color: rgb(183, 183, 183);
    text-align: center;
    vertical-align: middle;
}
.cart__table ul li:first-child{
    color: rgb(255, 255, 255);
    font-size: calc(var(--index) * .7);
    font-weight: 600;
}
.cart__img_product{
    width: calc(var(--index) * 3.5);
    padding: 15px;
}
.cart__img_delete{
    width: calc(var(--index) * 1.5);
}
.cart_price_cont td{
    text-align: center;
    color: rgb(255, 255, 255);
}
.cart__price{
    display: block;
    font-size: calc(var(--index) * 1);
    color: rgb(255, 255, 255);
    font-weight: 900;
    padding: 5px 0;
}
.cart__buttons{
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
    font-size: calc(var(--index) * .7);
}
.cart__ship_choice{
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: left;
}
.cart__button_checout{
    width: 100%;
    padding: 10px calc(var(--index) * 1.2);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 50px;
    font-size: calc(var(--index) * 1);
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: rgba(48, 92, 123, 0.4);
    transition: all .3s ease;
}
.cart__button_checout:hover{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}





.shop__list_price{
    font-size: calc(var(--index) * 2);
    font-weight: 300;
    color: rgb(255,255,255);
}
.shop__button{
    margin-top: 25px;
    width: calc(var(--index) * 10);
    padding: 8px;
    text-align: center;
    background-color:transparent;
    border: .1px solid rgb(255,255,255);
    border-radius: 50px;
    color: rgb(255,255,255);
    transition: all .3s ease;
}
.shop__button_left{
    display: block;
    margin-left: auto;
}
.shop__button:hover{
    background-color: rgb(255,255,255);
    color: rgb(1,1,1);
}
.particles{
    z-index: 10000;
    position: fixed;
    pointer-events: none;
}

/* Style for pay.html page */

.pay__information h3{
    margin: calc(var(--index) * .5) 0;
    color: rgb(255, 255, 255);
    font-weight: 600;
}
h3.pay__information_header{
    margin-bottom: calc(var(--index) * 2);
    font-size: calc(var(--index) * 1.3);
    font-weight:600;
    color: rgba(49, 89, 116, 0.8);
}
.pay__table{
    margin-bottom: calc(var(--index) * 2);
}
.pay__table th{
    padding: 0 calc(var(--index) * .5) calc(var(--index) * .5) calc(var(--index) * .5);
    text-align: left;
    font-size: calc(var(--index) * .7);
    border-right: 1px dashed rgb(255, 255, 255);
    color: rgb(255, 255, 255);
}
.pay__table th:last-child{
    border: none;
}
.pay__table td{
    padding: 0 calc(var(--index) * .5) calc(var(--index) * .5) calc(var(--index) * .5);
    text-align: left;
    font-size: calc(var(--index) * .7);
    border-right: 1px dashed rgb(255, 255, 255);
}
.pay__table td:last-child{
    border: none;
}

.pay__table_inforvation th{
    text-align: left;
    padding: calc(var(--index) * .5);
    font-size: calc(var(--index) * .7);
    color: rgb(255, 255, 255);
    border-bottom: 1px dashed rgb(255, 255, 255);
}

.pay__table_inforvation td{
    text-align: left;
    padding: calc(var(--index) * .5);
    font-size: calc(var(--index) * .7);
    color: rgb(255, 255, 255);
    border-bottom: 1px dashed rgb(255, 255, 255);
    color: rgb(183, 183, 183);
}
.pay__table_inforvation tr:last-child th,.pay__table_inforvation tr:last-child td{
    border: none;
}
.pay__information_subtext{
    display: block;
    margin: calc(var(--index) * 1.5) calc(var(--index) * .5);
    color: rgba(49, 89, 116, 0.8);
    font-weight: 600;
    font-size: calc(var(--index) * 1);
}

/* Style for payments.html */

.payments__header{
    display: block;
    text-align: center;
    margin:0 0 0 calc(var(--index) * 7);
    padding-top: calc(var(--index) * 1);
    padding-bottom: calc(var(--index) * 1);
    font-family: raleway_c;
    font-size: calc(var(--index) * 3);
    border-bottom: 1px solid rgb(255, 255, 255);
}
.payments__available{
    margin:0 calc(var(--index) * 1) 0 calc(var(--index) * 7);
    font-family: raleway_c;
    color: rgb(183, 183, 183);
}
.payments__available h3{
    margin: calc(var(--index) * .5) 0;
    font-size: calc(var(--index) * 1);
    font-weight: 600;
    color: rgb(255, 255, 255);
}
.payments__available_img{
    display: block;
    max-width: calc(var(--index) * 30);
    width: 100%;
    margin: 0 auto;
}
p.payments__available_subtext{
    padding:  calc(var(--index) * .5) calc(var(--index) * .5) calc(var(--index) * 1.5) 0;
    border-bottom: 1px solid rgb(255, 255, 255);
}
.payments__available p{
    margin: calc(var(--index) * .5) 0 calc(var(--index) * .5) 0;
    font-size: calc(var(--index) * .7);
}
.payments__available p:last-child{
    color: rgba(49, 89, 116, 0.8);
    font-weight: 600;
}
/* Style for privacy.html */
.privacy__header{
    display: block;
    text-align: center;
    margin:0 0 0 calc(var(--index) * 7);
    padding-top: calc(var(--index) * 1);
    padding-bottom: calc(var(--index) * 1);
    font-family: raleway_c;
    font-size: calc(var(--index) * 3);
    border-bottom: 1px solid rgb(255, 255, 255);
}
.privacy__content{
    margin:0 calc(var(--index) * .5)  calc(var(--index) * 1) calc(var(--index) * 7);
    color: rgb(183, 183, 183);
    font-family: raleway_c;
    font-size:  calc(var(--index) * .7);
    line-height: 1.2;
}
.privacy__content h2{
    margin: calc(var(--index) * 1) 0;
    font-size:  calc(var(--index) * 1);
    font-weight: 600;
    color: rgb(255, 255, 255);
}
.privacy__content a{
    color: rgb(255, 255, 255);
}
h2.privacy__cookies{
    text-align: center;
    font-size: calc(var(--index) * 2);
}
/* Style for return.html */

.return__header{
    display: block;
    text-align: center;
    margin:0 0 0 calc(var(--index) * 7);
    padding-top: calc(var(--index) * 1);
    padding-bottom: calc(var(--index) * 1);
    font-family: raleway_c;
    font-size: calc(var(--index) * 3);
    border-bottom: 1px solid rgb(255, 255, 255);
}
.return__content{
    margin:0 calc(var(--index) * .5)  calc(var(--index) * 1) calc(var(--index) * 7);
    color: rgb(183, 183, 183);
    font-family: raleway_c;
    font-size:  calc(var(--index) * .7);
    line-height: 1.2;
}
.return__content h2{
    margin: calc(var(--index) * 1) 0;
    font-size:  calc(var(--index) * 1);
    font-weight: 600;
    color: rgb(255, 255, 255);
}
.return__content a{
    color: rgb(255, 255, 255);
}

/* Style for login.html */

.login__header{
    display: block;
    text-align: center;
    margin:0 0 0 calc(var(--index) * 7);
    padding-top: calc(var(--index) * 1);
    padding-bottom: calc(var(--index) * 1);
    font-family: raleway_c;
    font-size: calc(var(--index) * 3);
    border-bottom: 1px solid rgb(255, 255, 255);
}
.login__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:calc(var(--index) * 3) calc(var(--index) * .5)  calc(var(--index) * 3) calc(var(--index) * 7);
    font-family: raleway_c;
    color: rgb(183, 183, 183);
}
.login__content input, .login__content button{
    text-align: center;
    width: calc(var(--index) * 20);
    margin: calc(var(--index) * .5);
    padding: calc(var(--index) * .3);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 50px;
    font-size: calc(var(--index) * 1);
    background-color: transparent;
    color:white;
}
.login__content input::placeholder{
    color:white;
}
.login__content button{
    font-size: calc(var(--index) * 1);
    background-color: rgba(48, 92, 123, 0.4);
    transition: color .3s ease, background-color .3s ease;

}
.login__content button:hover{
    background-color: rgba(255, 255, 255);
    color: rgb(0, 0, 0);
}
.login__content span{
    font-size: calc(var(--index) * .7);
    line-height: 1.5;
    color: rgb(255, 255, 255);
}
.login__content a{
    font-size: calc(var(--index) * .7);
    color: rgb(183, 183, 183);
    transition: color .3s ease;
}
.login__content a:hover{
    color: rgb(255, 255, 255);
}

/* Style for passreset.html */

.passreset_button_cont{
    display: flex;
    gap: calc(var(--index) * .5);
    width: calc(var(--index) * 20);
    margin: 0;
    padding: 0;
}
.login__content h3{
    font-size: calc(var(--index) * 1.2);
    color: rgb(255, 255, 255);
}
.passreset__subtext{
    font-size: calc(var(--index) * .7);
    color: rgb(183, 183, 183);

}
#passreset__email_error{
    display: none;
    margin-bottom: calc(var(--index) * .5);
    font-size: calc(var(--index) * .7);
    color: red;


}
.passreset_button_cont button{
    width: calc(var(--index) * 10);
    margin: 0;
    padding: 0;
}
.passreset_button_cont a{
    text-align: center;
    width: calc(var(--index) * 10);
    padding: calc(var(--index) * .3);
    
    font-size: calc(var(--index) * 1);
    font-weight: 300;
    text-decoration: none;

    border: 1px solid rgb(255, 255, 255);
    border-radius: 50px;
    background-color: transparent;
    color:white;
    transition: background-color .3s ease, color .3s ease;
}
.passreset_button_cont a:hover{
    background-color: rgb(255, 255, 255);
    color:rgb(0, 0, 0);
}
/* Style for profile.html */
.profile__order_info{
    display: flex;
    justify-content: space-between;
    font-family: raleway_c;
    font-size: calc(var(--index) * 1);
    z-index: 10000;
    transition: right .5s ease;
}
.profile__accaunt_info{
    display: block;
    margin: calc(var(--index) * .5) calc(var(--index) * .5) calc(var(--index) * .5) calc(var(--index) * 7);
}
.profile__name{
    display: flex;
    gap:calc(var(--index) * .5);
    font-weight: 600;
}
.profile__account_mail{
    display: block;
    margin-bottom: calc(var(--index) * 1.5);
    color: rgb(183, 183, 183);
}
.profile__address{
    display: flex;
    flex-direction: column;
    color: rgb(183, 183, 183);
}
.profile__address h3{
    font-weight: 600;
    color: rgb(255, 255, 255);
}
.profile__address_phone{
    margin-bottom: calc(var(--index) * .5);
}
.profile__button{
    background-color: rgba(48, 92, 123, 0.4);
    color: rgb(255, 255, 255);
    border-radius: 50px;
    border: 1px solid rgb(255, 255, 255);
    transition: background-color .3s ease, color .3s ease;
}
.profile__button:hover{
    background-color: rgba(255, 255, 255);
    color: rgb(0, 0, 0);
}

.profile__address_edit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(31, 48, 59, .96);
    transition: height .5s ease ;
}
.profile__address_edit_cont{
    width: fit-content;
    height: fit-content;
    font-family: raleway_c;
    font-size: calc(var(--index) * 1);
}
.profile__address_edit-header{
    text-align: center;
    margin-bottom: calc(var(--index) * 1);
    font-size: calc(var(--index) * 2);
}
.profile__address_edit input{
    padding: calc(var(--index) * .3);
    font-size: calc(var(--index) * 1);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 50px;
    background-color: transparent;
    color: rgb(255, 255, 255);
    margin-bottom: calc(var(--index) * .5);
}
.profile__address_name, .profile__address_cont{
    display: flex;
    gap: calc(var(--index) * .5);
}
.profile__address_name input, 
.profile__address_lname_cont input,
.profile__address_postcode_cont input,
.profile__address_city_cont input{
    width: calc(25vw - calc(var(--index) * .25));
}
.profile__address_fname_cont, 
.profile__address_lname_cont, 
.profile__address_addres_cont, 
.profile__address_phone_cont,
.profile__address_city_cont,
.profile__address_postcode_cont{
    display: flex;
    flex-direction: column;
    color: rgb(255, 255, 255);
    font-size: calc(var(--index) * .5);
}
.profile__adress_edit-buttons{
    display: flex;
    gap: calc(var(--index) * .5);
}
.profile__address_edit button{
    width: 100%;
    padding: calc(var(--index) * .3);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 50px;
    color: rgb(0, 0, 0);
    transition: background-color .3s ease, color .3s ease;
}
.profile__address_edit button:hover{
    background-color: transparent;
    color: rgb(255, 255, 255);
}
button.profile__adress_edit-cancel{
    background-color: transparent;
    color: rgb(255, 255, 255);
}
button.profile__adress_edit-cancel:hover{
    color: rgb(0, 0, 0);
    border: 1px solid rgb(0, 0, 0);
}




.profile__order_item{
    padding: 0 calc(var(--index) * .5);
    text-align: center;
    transition: right 1s ease;
    background-color: rgba(31, 48, 59, 0.8);
}
.profile__order_header{
    font-size: calc(var(--index) * 1.5);
    padding-bottom: calc(var(--index) * .5);
}
.profile__order_table{
    width: 100%;
}
.profile__order_table th{
    padding-right: 5px;
}
.profile__order_table tr{
    padding-right: 5px;
    font-size: calc(var(--index) * .7);
    border-bottom: .1px solid rgb(255, 255, 255);
}
.profile__order_table td{
    padding-right: 5px;
}
.profile__order_table ul li:first-child{
    color: rgb(255, 255, 255);
    font-size: calc(var(--index) * .7);
    font-weight: 600;
}
.profile__img_product{
    width: calc(var(--index) * 2.5);
    padding: 15px;
}


/* Style for footer */


footer{
    display: flex;
    justify-content: space-between;
    margin:0 0 0 calc(var(--index) * 7);
    align-items: center;
    border-top: 1px solid rgb(255, 255, 255);
    font-family: raleway_c;
}
.footer__copi{
    font-size: calc(var(--index) * .6);
    width: fit-content;
    margin: 10px 0;
}
.footer__copi_rights{
    display: block;
}
.footer__items{
    display: flex;
    gap: 20px;
    margin-right: 20px;
}
.footer__link{
    font-size: calc(var(--index) * 1);
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: color .3s ease;
}
.footer__link:hover{
    color: rgb(183, 183, 183);
}
