.checkout__order-details{
    width: calc(var(--index) * 20);
    margin: 0 0 0 auto;
    border-left: 1px solid rgb(211, 211, 211);
    background-color: rgba(48, 92, 123, 0.4);
}
.checkout__order_product{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: calc(var(--index) * .5);
    padding-bottom: calc(var(--index) * .5);
    border-bottom: 1px solid rgb(255, 255, 255);
}
.checkout__order_product span{
    font-size: calc(var(--index) * .7);
}
.checkout__order_img{
    width: calc(var(--index) * 2.5);
}
.checkout__order_description span{
    display: block;
    color: rgb(255, 255, 255);
    font-size: calc(var(--index) * .5);
}
span.checkout__order_name{
    font-size: calc(var(--index) * 1);
    font-weight: 600;
    color: rgb(255, 255, 255);
}

.checkout__privacy_cont div{
    display: flex;
    align-items: center;
}
.checkout__privacy_cont input{
    margin: 0 calc(var(--index) * .5);
}
.checkout__order_price{
    display: flex;
    justify-content: space-between;
    margin: calc(var(--index) * .5);
    font-size: calc(var(--index) * .7);
}
.checkout__order_price-total, .checkout__order_price-number{
    font-size: calc(var(--index) * 1);
    font-weight: 600;
}