:root{
    --index: calc(1vw + 1vh);
}
@font-face {
    font-family: raleway_c;
    src: url(/asset/fonts/raleway-v22-cyrillic-300.woff2);
    font-weight: 300;
}
@font-face {
    font-family: raleway_c;
    src: url(/asset/fonts/raleway-v22-cyrillic-100.woff2);
    font-weight: 100;
}
body{
    overflow: hidden;
}
body > *{
    font-family: raleway_c;
}

.error__section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    transform: translateY(40%);
}
.error__subtext{
    font-size: calc(var(--index) * 1);
}
.error__header{
    font-size: calc(var(--index) * 15);

}
.error__button{
    display: block;
    width: calc(var(--index) * 10);
    margin: calc(var(--index) * 2.5) auto 0 auto;
    padding: 5px 0; 
    font-size: calc(var(--index) * 1);
    border: 1px solid rgb(255,255,255);
    border-radius: 40px;
    color: rgb(255,255,255);
    text-decoration: none;
    transition: background-color, color .3s ease;
    cursor: pointer;
}
.error__button:hover{
    background-color: rgb(255,255,255);
    color: rgb(1,1,1);
}
.particles{
    position: absolute;
    z-index: -1;
}