:root{
    --index: calc(1vw + 1vh);
}
.checkout__header{
    display: block;
    text-align: center;
    margin:0 0 0 calc(var(--index) * 7);
    padding-top: calc(var(--index) * 1);
    padding-bottom: calc(var(--index) * 1);
    font-family: raleway_c;
    font-size: calc(var(--index) * 3);
    border-bottom: 1px solid rgb(255, 255, 255);
}
.checkout__section{
    display: flex;
    margin-left: calc(var(--index) * 7);
    color: rgb(183, 183, 183);
    min-height: 80vh;
    font-family: raleway_c;
}
.checkout__information{
    width: 100%;
    margin: calc(var(--index) * .5);
    font-size: calc(var(--index) * .7);
}
.checkout__information input, select, button{
    width: 50vw;
    height: calc(var(--index) * 1.5);
    margin-bottom: calc(var(--index) * .5);
    padding: 0  calc(var(--index) * .5);
    font-size: calc(var(--index) * .7);
    background-color: transparent;
    color: rgb(183, 183, 183);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 20px;
}
a.checkout__information_button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: calc(var(--index) * 1.5);
    margin-bottom: calc(var(--index) * .5);
    padding: 0  calc(var(--index) * .5);
    font-size: calc(var(--index) * .7);
    text-decoration: none;
    background-color: transparent;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 20px;
}
.checkout__contact{
    width: 50vw;
}
input.checkout__contact_checkbox{
    width: auto;
    border-radius: 5px;
}


.checkout__information input::placeholder, button{
    display: block;
    color: rgb(255, 255, 255);
}
.checkout__information select{
    padding: 0 calc(var(--index) * .5);
    height: calc(var(--index) * 1.5);

    color: rgb(255,255,255);
    background-color: transparent;
}
.checkout__information select option{
    background-color: transparent;
    color:rgb(0, 0, 0);
}
.checkout__information span{
    margin-bottom: calc(var(--index) * .5);
}
.checkout__contact_items{
    display: flex;
    justify-content: space-between;
}
.checkout__contact_header{
    margin: 0 0 calc(var(--index) * .5) 0;
    font-size: calc(var(--index) * 1);
    font-weight: 600;
    color: rgb(255, 255, 255);

}
input.checkout__contact_input{
    margin-bottom: 0;
}
.checkout__contact_login a{
    color: rgb(255, 255, 255);
}
.checkout__contact_input_cont{
    display: flex;
    flex-direction: column;
}
.checkout__contact_offers_cont{
    display: flex;
    align-items: center;
}
.checkout__contact_offers_cont input{
    margin: 0 calc(var(--index) * .5);
}
span.checkout__contact_input_mail-erorr{
    margin: 0;
    padding: 0;
    font-size: calc(var(--index) * .5);
    color: red;
}
span.checkout__contact_input_mail-erorr,
span.span.checkout__contact_input_mail-erorr,
span.checkout_fname_error,
span.checkout_addres_error,
span.checkout_fname_error,
span.checkout_city_error,
span.checkout_phone_error{
    display: none;
}



.checkout__delivery_name, .checkout__delivery_cont{
    display: flex;
    width: 50vw;
    gap: calc(var(--index) * .5);
}
.checkout__delivery_name input, 
.checkout__delivery_lname_cont input,
.checkout__delivery_postcode_cont input,
.checkout__delivery_city_cont input{
    width: calc(25vw - calc(var(--index) * .25));
}
.checkout__delivery_fname_cont, 
.checkout__delivery_lname_cont, 
.checkout__delivery_addres_cont, 
.checkout__delivery_phone_cont,
.checkout__delivery_city_cont,
.checkout__delivery_postcode_cont{
    display: flex;
    flex-direction: column;
    color: red;
    font-size: calc(var(--index) * .5);
}
.checkout__shipping input,
.checkout__privacy_cont input,
.checkout__payment input{
    width: auto;
    margin: 0;
}
.checkout__shipping input,
.checkout__payment input{
    margin: 0 calc(var(--index) * .5);
}
.checkout__shipping div, 
.checkout__payment div{
    display: flex;
    align-items: center;
    max-width: 50vw;
    margin-bottom: calc(var(--index) * .5);
    max-height: calc(var(--index) * 2);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 30px;
}
.checkout__payment_cont,
.checkout__payment_cont{
    position: relative;
}
div.checkout__payment_description,
div.checkout__payment_description{
    height: 0;
    opacity: 0;
    overflow: hidden;
    padding-left: calc(var(--index) * .5);
    font-size: calc(var(--index) * .6);
    border: none;
    border-radius: 0px;
    transition: height .5s ease, opacity 1s ease;
}











.checkout__order-details{
    width: calc(var(--index) * 20);
    margin: 0 0 0 auto;
    border-left: 1px solid rgb(211, 211, 211);
    background-color: rgba(48, 92, 123, 0.4);
}

.checkout__order_product{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: calc(var(--index) * .5);
    padding-bottom: calc(var(--index) * .5);
    border-bottom: 1px solid rgb(255, 255, 255);
}
.checkout__order_product span{
    font-size: calc(var(--index) * .7);
}
.checkout__order_img{
    width: calc(var(--index) * 2.5);
}
.checkout__order_description span{
    display: block;
    color: rgb(255, 255, 255);
    font-size: calc(var(--index) * .5);
}
span.checkout__order_name{
    font-size: calc(var(--index) * 1);
    font-weight: 600;
    color: rgb(255, 255, 255);
}

.checkout__privacy_cont div{
    display: flex;
    align-items: center;
}
.checkout__privacy_cont input{
    margin: 0 calc(var(--index) * .5);
}
.checkout__order_price{
    display: flex;
    justify-content: space-between;
    margin: calc(var(--index) * .5);
    font-size: calc(var(--index) * .7);
}
.checkout__order_price-total, .checkout__order_price-number{
    font-size: calc(var(--index) * 1);
    font-weight: 600;
}
.checkout__privacy_link{
    color: white;
}
button.checkout__information_button{
    background-color: rgba(48, 92, 123, 0.4);
    transition: all .3s ease;
}
button.checkout__information_button:hover{
    background-color: rgba(255, 255, 255);
    color: rgb(0, 0, 0);
}


/* ----------WARNING------ */
a.checkout__information_button{
    background-color: rgba(48, 92, 123, 0.4);
    transition: all .3s ease;
}
a.checkout__information_button:hover{
    background-color: rgba(255, 255, 255);
    color: rgb(0, 0, 0);
}
/* ----------WARNING------ */
