*{
    box-sizing: border-box;
}
body{
    animation: 2.5s ease opacity_change;
}
.checkout__title{
    display: block;
    text-align: center;
    margin:0 0 0 calc(var(--index) * 7);
    padding-top: var(--index);
    padding-bottom: var(--index);
    font-family: raleway_c;
    font-size: calc(var(--index) * 3);
    border-bottom: 1px solid rgb(255, 255, 255);
}
.checkout{
    display: flex;
    margin-left: calc(var(--index) * 7);
    color: rgb(183, 183, 183);
    min-height: 80vh;
    font-family: raleway_c;

    &__information{
        width: 100%;
        margin: calc(var(--index) * .5);
        font-size: calc(var(--index) * .7);
    }
    &__input{
        height: calc(var(--index) * 1.5);
        margin-bottom: calc(var(--index) * .5);
        padding: 0  calc(var(--index) * .5);
        font-size: calc(var(--index) * .7);
        background-color: transparent;
        color: rgb(183, 183, 183);
        border: 1px solid rgb(255, 255, 255);
        border-radius: 20px;
    }
    
    &__email-input,
    &__address-input,
    &__phone-input,
    &__button,
    &__contact,
    &__country-select,
    &__delivery{
        width: 50vw;
    }
    &__email-checkbox{
        width: auto;
        border-radius: 5px;
        cursor: pointer;
        margin: 0 calc(var(--index) * .5);
    }
    &__information input::placeholder{
        display: block;
        color: rgb(255, 255, 255);
    }
    &__country-select option{
        background-color: transparent;
        color:rgb(0, 0, 0);
    }
    &__information span{
        margin-bottom: calc(var(--index) * .5);
    }
    &__contact__header{
        display: flex;
        justify-content: space-between;
    }
    &__title-second{
        margin: 0 0 calc(var(--index) * .5) 0;
        font-size: calc(var(--index) * 1);
        font-weight: 600;
        color: rgb(255, 255, 255);
    }
    &__login-link{
        width: 100%;
        margin-bottom: 0;
        color: rgb(255, 255, 255);
    }
    &__offers__wrapper{
        display: flex;
        margin-bottom: calc(var(--index) * .5);
        align-items: center;
        text-align: center;
    }
    &__email-erorr{
        margin: 0;
        padding: 0;
        font-size: calc(var(--index) * .5);
        color: red;
    }
    &__name, 
    &__postal{
        display: flex;
        width: 100%;
        gap: calc(var(--index) * .5);
    }
    &__fname,
    &__lname,
    &__postal-code,
    &__postal-city{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    &__fname-input, 
    &__lname-input,
    &__postal-input,
    &__city-input{
        width: 100%;
    }
    &-error{
        display: block;
        display: none;
        color: red;
        font-size: calc(var(--index) * .5);
    }
    &__shiping-ua,
    &__shiping-pl-cur,
    &__shiping-pl-pacz,
    &__blik-input,
    &__card-input{
        margin: 0 calc(var(--index) * .5) 0 0;
        cursor: pointer;
    }
    &__shipping div, 
    &__payment div{
        display: flex;
        align-items: center;
        width: 50vw;
    }
    &__payment-description{
        height: 0;
        opacity: 0;
        overflow: hidden;
        padding-bottom: calc(var(--index) * .5);
        padding-left: calc(var(--index) * .5);
        font-size: calc(var(--index) * .6);
        border: none;
        border-radius: 0px;
        transition: height .5s ease, opacity 1s ease;
    }
    &__privacy{
        margin-bottom: calc(var(--index) * .5);
    }
    &__privacy-input{
        margin: 0 calc(var(--index) * .5);
        cursor: pointer;
    }
    &__privacy-link{
        text-decoration: none;
        color: white;
    }
    &__button{
        width: 50vw;
        padding: 0;
    }
    &__button-link{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        border-radius: var(--border--radius);
        text-decoration: none;
        font-weight: 600;
        background-color: rgba(48, 92, 123, 0.4);
        color: white;
        transition: var(--transition-color), var(--transition-bg-color);
        &:hover{
            background-color: rgba(255, 255, 255);
            color: rgb(0, 0, 0);
        }
    }
}



/*style for order details*/

.checkout__order-details{
    width: calc(var(--index) * 20);
    margin: 0 0 0 auto;
    border-left: 1px solid rgb(211, 211, 211);
    background-color: rgba(48, 92, 123, 0.4);
}
.checkout__order_product{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: calc(var(--index) * .5);
    padding-bottom: calc(var(--index) * .5);
    border-bottom: 1px solid rgb(255, 255, 255);
}
.checkout__order_product span{
    font-size: calc(var(--index) * .7);
}
.checkout__order_img{
    width: calc(var(--index) * 2.5);
}
.checkout__order_description span{
    display: block;
    color: rgb(255, 255, 255);
    font-size: calc(var(--index) * .5);
}
span.checkout__order_name{
    font-size: calc(var(--index) * 1);
    font-weight: 600;
    color: rgb(255, 255, 255);
}
.checkout__order_price{
    display: flex;
    justify-content: space-between;
    margin: calc(var(--index) * .5);
    font-size: calc(var(--index) * .7);
}
.checkout__order_price-total, .checkout__order_price-number{
    font-size: calc(var(--index) * 1);
    font-weight: 600;
}

// PAY.HTML

.pay__information h3{
    margin: calc(var(--index) * .5) 0;
    color: rgb(255, 255, 255);
    font-weight: 600;
}
h3.pay__information_header{
    margin-bottom: calc(var(--index) * 2);
    font-size: calc(var(--index) * 1.3);
    font-weight:600;
    color: rgba(49, 89, 116, 0.8);
}
.pay__table{
    margin-bottom: calc(var(--index) * 2);
}
.pay__table th{
    padding: 0 calc(var(--index) * .5) calc(var(--index) * .5) calc(var(--index) * .5);
    text-align: left;
    font-size: calc(var(--index) * .7);
    border-right: 1px dashed rgb(255, 255, 255);
    color: rgb(255, 255, 255);
}
.pay__table th:last-child{
    border: none;
}
.pay__table td{
    padding: 0 calc(var(--index) * .5) calc(var(--index) * .5) calc(var(--index) * .5);
    text-align: left;
    font-size: calc(var(--index) * .7);
    border-right: 1px dashed rgb(255, 255, 255);
}
.pay__table td:last-child{
    border: none;
}

.pay__table_inforvation th{
    text-align: left;
    padding: calc(var(--index) * .5);
    font-size: calc(var(--index) * .7);
    color: rgb(255, 255, 255);
    border-bottom: 1px dashed rgb(255, 255, 255);
}

.pay__table_inforvation td{
    text-align: left;
    padding: calc(var(--index) * .5);
    font-size: calc(var(--index) * .7);
    color: rgb(255, 255, 255);
    border-bottom: 1px dashed rgb(255, 255, 255);
    color: rgb(183, 183, 183);
}
.pay__table_inforvation tr:last-child th,.pay__table_inforvation tr:last-child td{
    border: none;
}
.pay__information_subtext{
    display: block;
    margin: calc(var(--index) * 1.5) calc(var(--index) * .5);
    color: rgba(49, 89, 116, 0.8);
    font-weight: 600;
    font-size: calc(var(--index) * 1);
}