@import "./shop.scss";
body{
    font-family: var(--font-family);
    animation: var(--animation);
}
.collection{
    text-align: center;
    margin-left: calc(var(--index) * 7);
    &__title{
        padding-top: calc(var(--index) * .6);
        font-size: var(--font-size-large);
    }
    &__subtext{
        margin-bottom: calc(var(--index) * 2);
        text-align: center;
        font-size: var(--font-size-medium);
    }
    &__items{
        display: flex;
        flex-wrap: wrap;
    }
    &__item{
        margin: calc(var(--index) * .5);
        max-width: calc(25% - calc(var(--index) * 1.5));
        opacity: 0;
        transition: opacity 1s ease;
    }
    &__item.active {
        opacity: 1;
        transition: opacity 1s ease;
    }
    &__item h3{
        font-size: calc(var(--index) * 1.5);
    }
    &__item ul{
        margin: 0 auto;
        font-size: var(--font-size-small);
        color: var(--paragraph-color);
    }
    &-img{
        width: 100%;
        cursor: pointer;
        transition: all .3s ease;
        &:hover{
            transform: scale(105%);
        }
    }
    &__container-img-change{
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: center;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        background-color: var(--shop-elem-bg);
        overflow: hidden;
        transition: all .5s ease;
    }
    &-img-open{
        height: calc(100vh - calc(var(--index) * 2.4));
        width: auto;
        margin: calc(var(--index) * 1.2);
        transition: all .5s ease;
    }
    &__body-hidden{
        overflow: hidden;
    }
    &__pagination{
        display: flex; 
        justify-content: center;
        align-items: center;
        margin: 0 auto calc(var(--index) * 1) auto ;
        font-family: var(--font-family);
    }
    
    &__pagination-page{
        margin: 0 calc(var(--index)*1.5);
    }
    &__pagination-prev,
    &__pagination-next{
        background-color: var(--transparent);
        border: none;
    }
    &__arrow{
        display: block;
        width: calc(var(--index)*1);
        height: calc(var(--index)*.1);
        background-color: var(--primary-color);
        border-radius: calc(var(--index)*.5);
    }
    .arrow-prev-top{
        transform-origin:left;
        transform: rotate(-35deg);
        transition: all .2s ease;
        margin-bottom: calc(var(--index)*-.1);
    }
    .arrow-prev-down{
        transform-origin:left;
        transform: rotate(35deg);
        transition: all .2s ease;
        margin-top: calc(var(--index)*-.1);
    }
    .arrow-next-top{
        transform-origin: right;
        transform: rotate(35deg);
        transition: all .2s ease;
        margin-bottom: calc(var(--index)*-.1);
    }
    .arrow-next-down{
        transform-origin: right;
        transform: rotate(-35deg);
        transition: all .2s ease;
        margin-top: calc(var(--index)*-.1);
    }
    &__pagination-prev{
        &:hover{
            .arrow-prev-top{
                transform: rotate(-25deg);
            }
            .arrow-prev-down{
                transform: rotate(25deg);
            }
        }
        &:active{
            .arrow-prev-top{
                transform: rotate(-15deg);
            }
            .arrow-prev-down{
                transform: rotate(15deg);
            }
        }
    }
    &__pagination-next{
        &:hover{
            .arrow-next-top{
                transform: rotate(25deg);
            }
            .arrow-next-down{
                transform: rotate(-25deg);
            }
        }
        &:active{
            .arrow-next-top{
                transform: rotate(15deg);
            }
            .arrow-next-down{
                transform: rotate(-15deg);
            }
        }
    }
    &__pagination-prev,
    &__pagination-next{
        padding: 20px;
    }
}
