
/* Style for login.html */
*{
    box-sizing: border-box;
}
body{
    animation: var(--animation-body);
}
.login__title{
    display: block;
    text-align: center;
    margin:0 0 0 calc(var(--index) * 7);
    padding-top: calc(var(--index) * 1);
    padding-bottom: calc(var(--index) * 1);
    font-family: var(--font-family);
    font-size: var(--font-size-large);
    border-bottom: var(--border-all);
}
.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:calc(var(--index) * 3) calc(var(--index) * .5)  calc(var(--index) * 3) calc(var(--index) * 7);
    font-family: var(--font-family);
    color: var(--paragraph-color);
    & h3{
        font-size: calc(var(--index) * 1.2);
        color: var(--primary-color);
    }
    & input, & button{
        text-align: center;
        width: calc(var(--index) * 20);
        margin: calc(var(--index) * .5);
        padding: calc(var(--index) * .3);
        border: var(--border-all);
        border-radius: var(--border--radius);
        font-size: var(--font-size-medium);
        background-color: var(--transparent);
        color:var(--primary-color);
        &::placeholder{
            color:var(--paragraph-color);
        }
    }
    & button{
        background-color: var(--shop-elem-bg);
        transition: var(--transition-bg-color), var(--transition-color);
        &:hover{
            background-color: var(--primary-color);
            color: var(--secondary-color);
        }
    }
    & span{
        font-size: var(--font-size-small);
        line-height: 1.5;
        color: var(--primary-color);
    }
    & a{
        font-size: var(--font-size-small);
        color: var(--paragraph-color);
        transition: var(--transition-color);
        &:hover{
            color: var(--primary-color);
        }
    }
}
/* Style for passreset.html */
.passreset{
    &__buttons{
        display: flex;
        gap: calc(var(--index) * .5);
        width: calc(var(--index) * 20);
        margin: 0;
        padding: 0;
    }
    &__subtext{
        font-size: var(--font-size-small);
        color: var(--paragraph-color);
    
    }
    &__email-error{
        display: none;
        margin-bottom: calc(var(--index) * .5);
        font-size: var(--font-size-small);
        color: var(--error-color);
    }
    &__buttons button{
        width: calc(var(--index) * 10);
        margin: 0;
        padding: 0;
    }
    &__buttons a{
        text-align: center;
        width: calc(var(--index) * 10);
        padding: calc(var(--index) * .3);
        
        font-size: var(--font-size-medium);
        font-weight: 300;
        text-decoration: none;
    
        border: var(--border-all);
        border-radius: var(--border--radius);
        background-color: transparent;
        color:var(--primary-color);
        transition: var(--transition-bg-color), var(--transition-color);
        &:hover{
            background-color: var(--primary-color);
            color:var(--secondary-color);
        }
    }
}

