
/* Style for payments.html */
body{
    animation: var(--animation-body);
}
.payments__title{
    display: block;
    text-align: center;
    margin:0 0 0 calc(var(--index) * 7);
    padding-top: calc(var(--index) * 1);
    padding-bottom: calc(var(--index) * 1);
    font-family: var(--font-family);
    font-size: var(--font-size-large);
    border-bottom: var(--border-all);
}
.payments{
    margin:0 calc(var(--index) * 1) 0 calc(var(--index) * 7);
    font-family: var(--font-family);
    color: var(--paragraph-color);

    & h3{
        margin: calc(var(--index) * .5) 0;
        font-size: var(--font-size-medium);
        font-weight: 600;
        color: var(--primary-color);
    }
    &__img{
        display: block;
        max-width: calc(var(--index) * 30);
        width: 100%;
        margin: 0 auto;
    }
    & p{
        margin: calc(var(--index) * .5) 0 calc(var(--index) * .5) 0;
        font-size: var(--font-size-small);
        &:last-child{
            color: rgba(49, 89, 116, 0.8);
            font-weight: 600;
        }
    }
    &__subtext{
        padding:  calc(var(--index) * .5) calc(var(--index) * .5) calc(var(--index) * 1.5) 0;
        border-bottom: var(--border-all);
    }
    
}

