
/* Style for privacy.html */
body{
    animation: var(--animation-body);
}
.privacy__title{
    display: block;
    text-align: center;
    margin:0 0 0 calc(var(--index) * 7);
    padding-top: calc(var(--index) * 1);
    padding-bottom: calc(var(--index) * 1);
    font-family: var(--font-family);
    font-size: var(--font-size-large);
    border-bottom: var(--border-all);
}
.privacy{
    margin:0 calc(var(--index) * .5)  calc(var(--index) * 1) calc(var(--index) * 7);
    color: var(--paragraph-color);
    font-family: var(--font-family);
    font-size:  var(--font-size-small);
    line-height: 1.2;
   
    & h2{
        margin: calc(var(--index) * 1) 0;
        font-size: var(--font-size-medium);
        font-weight: 600;
        color:  var(--primary-color);

    }
    & h2.privacy__cookies{
        text-align: center;
        font-size: var(--font-size-large);
        font-weight: 300;

    }
    & a{
        color:  var(--primary-color);
    }
    
}
