
/* Style for profile.html */
body{
    animation: var(--animation-body);
}
.profile__title{
    display: block;
    text-align: center;
    margin:0 0 0 calc(var(--index) * 7);
    padding-top: calc(var(--index) * 1);
    padding-bottom: calc(var(--index) * 1);
    font-family: var(--font-family);
    font-size: var(--font-size-large);
    border-bottom: var(--border-all);
}
.profile-popup{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(31, 48, 59, .96);
    transition: height .5s ease ;

    &__data{
        font-family: var(--font-family);
        font-size: var(--font-size-medium);
    }
    &__data span{
        display: none;
        margin-bottom: calc(var(--index) * .4);
        margin-left: calc(var(--index) * .4);
        font-size: var(--font-size-small);
        color: var(--error-color);
        font-weight: 600;
    }
    &__title{
        text-align: center;
        margin-bottom: calc(var(--index) * 1);
        font-size: calc(var(--index) * 2);
    }
    & input{
        padding: calc(var(--index) * .3);
        font-size: var(--font-size-medium);
        border: var(--border-all);
        border-radius: var(--border--radius);
        background-color: var(--transparent);
        color: var(--primary-color);
        margin-bottom: calc(var(--index) * .5);
    }
    &__name, 
    &__wrapper{
        display: flex;
        gap: calc(var(--index) * .5);
    }
    &__fname input, 
    &__lname input,
    &__post input,
    &__city__wrapper input{
        width: calc(25vw - calc(var(--index) * .25));
    }

    &__address, 
    &__phone{
        display: flex;
        flex-direction: column;
        color: var(--primary-color);
    }
    &__buttons{
        display: flex;
        gap: calc(var(--index) * .5);
    }
    &__button-edit,
    &__button-cancel{
        width: 100%;
        padding: calc(var(--index) * .3);
        border: var(--border-all);
        border-radius: var(--border--radius);
        color: var(--secondary-color);
        transition: var(--transition-color), var(--transition-bg-color);
        &:hover{
            background-color: transparent;
            color: var(--primary-color);
        }
    }
    &__button-cancel{
        background-color: transparent;
        color: var(--primary-color);
        &:hover{
            color: var(--secondary-color);
            background-color: var(--primary-color);
        }
    }
    
}

/*profile information section*/

.profile{
    display: flex;
    justify-content: space-between;
    font-family: var(--font-family);
    font-size: var(--font-size-medium);

    z-index: 10000;
    transition: right .5s ease;

    &__info{
        display: block;
        margin: calc(var(--index) * .5) calc(var(--index) * .5) calc(var(--index) * .5) calc(var(--index) * 7);
    }
    &__name{
        display: flex;
        gap:calc(var(--index) * .5);
        font-weight: 600;
    }
    &__mail{
        display: block;
        margin-bottom: calc(var(--index) * 1.5);
        color: var(--paragraph-color);
    }
    &__address{
        display: flex;
        flex-direction: column;
        color: var(--paragraph-color);
    }
    &__address h3{
        font-weight: 600;
        color: var(--primary-color);
    }
    &__phone{
        margin-bottom: calc(var(--index) * .5);
    }
    &__button{
        background-color: rgba(48, 92, 123, 0.4);
        color: var(--primary-color);
        border-radius:var(--border--radius);;
        border: var(--border-all);
        transition: var(--transition-color), var(--transition-bg-color);
        &:hover{
            background-color: var(--primary-color);
            color: var(--secondary-color);
        }
    }
    
}

/* orders history section*/

.profile-orders{
    padding: 0 calc(var(--index) * .5);
    text-align: center;
    transition: right 1s ease;
    background-color: rgba(31, 48, 59, 0.8);

    &__title{
        font-size: calc(var(--index) * 1.5);
        padding-bottom: calc(var(--index) * .5);
    }
    &__table{
        width: 100%;
    }
    &__table th{
        padding-right: 5px;
    }
    &__table tr{
        padding-right: 5px;
        font-size: var(--font-size-small);
        border-bottom: var(--border-all);
        &:last-child{
            border-bottom: none;
        }
    }
    &__table td{
        padding-right: 5px;
    }
    &__table ul li:first-child{
        color: var(--primary-color);
        font-size: var(--font-size-small);
        font-weight: 600;
    }
    &__img{
        width: calc(var(--index) * 2.5);
        padding: 15px;
    }
}

