
/* Style for profile.html */
body{
    animation: .5s ease opacity_change;
}
.profile__header{
    display: block;
    text-align: center;
    margin:0 0 0 calc(var(--index) * 7);
    padding-top: calc(var(--index) * 1);
    padding-bottom: calc(var(--index) * 1);
    font-family: raleway_c;
    font-size: calc(var(--index) * 3);
    border-bottom: 1px solid rgb(255, 255, 255);
}

.profile__order_info{
    display: flex;
    justify-content: space-between;
    font-family: raleway_c;
    font-size: calc(var(--index) * 1);
    z-index: 10000;
    transition: right .5s ease;
}
.profile__accaunt_info{
    display: block;
    margin: calc(var(--index) * .5) calc(var(--index) * .5) calc(var(--index) * .5) calc(var(--index) * 7);
}
.profile__name{
    display: flex;
    gap:calc(var(--index) * .5);
    font-weight: 600;
}
.profile__account_mail{
    display: block;
    margin-bottom: calc(var(--index) * 1.5);
    color: rgb(183, 183, 183);
}
.profile__address{
    display: flex;
    flex-direction: column;
    color: rgb(183, 183, 183);
}
.profile__address h3{
    font-weight: 600;
    color: rgb(255, 255, 255);
}
.profile__address_phone{
    margin-bottom: calc(var(--index) * .5);
}
.profile__button{
    background-color: rgba(48, 92, 123, 0.4);
    color: rgb(255, 255, 255);
    border-radius: 50px;
    border: 1px solid rgb(255, 255, 255);
    transition: background-color .3s ease, color .3s ease;
}
.profile__button:hover{
    background-color: rgba(255, 255, 255);
    color: rgb(0, 0, 0);
}
.profile__address_edit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(31, 48, 59, .96);
    transition: height .5s ease ;
}
.profile__address_edit_cont{
    width: fit-content;
    height: fit-content;
    font-family: raleway_c;
    font-size: calc(var(--index) * 1);
}
.profile__address_edit_cont span{
    display: none;
    margin-bottom: calc(var(--index) * .4);
    margin-left: calc(var(--index) * .4);
}
.profile__address_edit-header{
    text-align: center;
    margin-bottom: calc(var(--index) * 1);
    font-size: calc(var(--index) * 2);
}
.profile__address_edit input{
    padding: calc(var(--index) * .3);
    font-size: calc(var(--index) * 1);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 50px;
    background-color: transparent;
    color: rgb(255, 255, 255);
    margin-bottom: calc(var(--index) * .5);
}
.profile__address_name, .profile__address_cont{
    display: flex;
    gap: calc(var(--index) * .5);
}
.profile__address_name input, 
.profile__address_lname_cont input,
.profile__address_postcode_cont input,
.profile__address_city_cont input{
    width: calc(25vw - calc(var(--index) * .25));
}
.profile__address_fname_cont, 
.profile__address_lname_cont, 
.profile__address_addres_cont, 
.profile__address_phone_cont,
.profile__address_city_cont,
.profile__address_postcode_cont{
    display: flex;
    flex-direction: column;
    color: rgb(255, 255, 255);
    font-size: calc(var(--index) * .5);
}
.profile__adress_edit-buttons{
    display: flex;
    gap: calc(var(--index) * .5);
}
.profile__address_edit button{
    width: 100%;
    padding: calc(var(--index) * .3);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 50px;
    color: rgb(0, 0, 0);
    transition: background-color .3s ease, color .3s ease;
}
.profile__address_edit button:hover{
    background-color: transparent;
    color: rgb(255, 255, 255);
}
button.profile__adress_edit-cancel{
    background-color: transparent;
    color: rgb(255, 255, 255);
}
button.profile__adress_edit-cancel:hover{
    color: rgb(0, 0, 0);
    border: 1px solid rgb(0, 0, 0);
}
.profile__order_item{
    padding: 0 calc(var(--index) * .5);
    text-align: center;
    transition: right 1s ease;
    background-color: rgba(31, 48, 59, 0.8);
}
.profile__order_header{
    font-size: calc(var(--index) * 1.5);
    padding-bottom: calc(var(--index) * .5);
}
.profile__order_table{
    width: 100%;
}
.profile__order_table th{
    padding-right: 5px;
}
.profile__order_table tr{
    padding-right: 5px;
    font-size: calc(var(--index) * .7);
    border-bottom: .1px solid rgb(255, 255, 255);
}
.profile__order_table tr:last-child{
    border-bottom: none;

}
.profile__order_table td{
    padding-right: 5px;
}
.profile__order_table ul li:first-child{
    color: rgb(255, 255, 255);
    font-size: calc(var(--index) * .7);
    font-weight: 600;
}
.profile__img_product{
    width: calc(var(--index) * 2.5);
    padding: 15px;
}
